/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css da pagina*/
@font-face{
    font-family: 'Source Sans Pro', sans-serif;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
*{
    box-sizing: border-box;
}
.layout-alterar-senha{
    background-image: url('../img/10861.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #212121;
}
.layout-alterar-senha .centralizar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 420px;
}
.layout-alterar-senha .login.cadastro{
    transform: translate(-50%, -28%);
}
.layout-alterar-senha .login h3{
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.layout-alterar-senha .login .logo{
    margin-bottom: 40px;
    text-align: center;
}
.layout-alterar-senha .checkbox{
    color: #fff;
}
.layout-alterar-senha .form-group input{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.layout-alterar-senha .direita{
    text-align: right;
}
.layout-alterar-senha .direita a{
    color: #fff;
}
.layout-alterar-senha .cadastro .continuar-logado{
    position: relative;
    top: -2px;
    left: 5px;
}
.layout-alterar-senha .continuar-logado{
    position: absolute;
    top: -2px;
    left: 35px;
}
.layout-alterar-senha .-enter{
    margin: 40px auto;
}
.layout-alterar-senha .login-enter{
    text-align: center;
    color: #fff;
    background-image: 
    linear-gradient(to bottom right,#c2922c,#fbdb9a);
    display: block;
    width: 280px;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
}
.layout-alterar-senha .login-enter:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
}
.layout-alterar-senha .login-enter.cancelar-cadastro{
    background: none;
    border: 1px solid #fff;
    opacity: .7;
    margin-left: 10px;
}
.layout-alterar-senha .cadastro{
    text-align: center;
}
.layout-alterar-senha .cadastro a{
    color: #D9B551;
}
.layout-alterar-senha .cadastro span{
    color: #fff;
}
.layout-alterar-senha .esquerda{
    text-align: left;
}
/*pagina recupera*/
.layout-alterar-senha .texto-recuperar{
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}
.layout-alterar-senha .alterar, .layout-alterar-senha .cancelar{
    background-image: linear-gradient(to bottom right,#c2922c,#fbdb9a);
    width: 200px;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
}
.layout-alterar-senha .recuperar .esquerda{
    margin-right: 20px;
}
.layout-alterar-senha .color{
    color: #fff !important;
}
.layout-alterar-senha .alterar:hover,
.layout-alterar-senha .cancelar:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
}
.layout-alterar-senha .btn input[type="radio"]{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.layout-alterar-senha .btn-secondary label{
    background: none;
    border: none;
    color: #212121;
}
.layout-alterar-senha .radio-forms{
    margin: 20px auto;
    justify-content: center;
    position: relative;
}
.layout-alterar-senha .radio-forms .btn-group:first-child{
    border-right: 1px solid #ccc;
}
.layout-alterar-senha .container_produtor_afiliado{
    position: relative;
}
.layout-alterar-senha .produtor{
    background-image: 
    linear-gradient(to bottom right,#c2922c,#fbdb9a);;
    width: 15px;
    height: 15px;
    font-size: .875rem;
    position: absolute;
    left: 100px;
    z-index: 2;
    cursor: pointer;
    line-height: 1;
}
.layout-alterar-senha .afiliado{
    background-image: 
    linear-gradient(to bottom right,#c2922c,#fbdb9a);
    width: 15px;
    height: 15px;
    font-size: .875rem;
    position: absolute;
    right: 195px;
    z-index: 2;
    cursor: pointer;
    line-height: 1;
}
.layout-alterar-senha #produtor{
    display: none;
}
.layout-alterar-senha #afiliado{
    display: none;
}
.layout-alterar-senha #produtor,
.layout-alterar-senha #afiliado{
    position: absolute;
    top: -115px;
    width: 250px;
    font-size: .875rem;
    background: #212121;
    color: #fff;
    z-index: 10;
    padding: 15px;
    height: 110px;
}
.layout-alterar-senha .-second{
    border-right: 1px solid #ccc;
}
.layout-alterar-senha .ativo{
    background-color: #D9B551 !important;
    color: #fff !important;
}
.layout-alterar-senha .block{
    display: block !important;
}
[data-click]{
    background-color: #fff;
}
[data-click]:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
[data-click]:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.layout-alterar-senha #email-incorreto,
.layout-alterar-senha #senha-incorreta{
    display: block;
}
.layout-alterar-senha .email-incorreto,
.layout-alterar-senha .senha-incorreta{
    display: none !important;
}
@media (max-width: 768px){
    .layout-alterar-senha{
        background-attachment: fixed;
    }
    .layout-alterar-senha .login{
        width: 300px;
    }
    .layout-alterar-senha input[type="email"], .layout-alterar-senha input[type="password"]{
        max-width: 100%;
        width: 300px;
    }
    .layout-alterar-senha .radio-forms .btn-group:first-child{
        border-right: none;
    }
    [data-click]:first-child{
        border-radius: 10px;
    }
    [data-click]:last-child{
        border-radius: 10px;
    }
    [data-click]{
        width: 70%;
        border-right: none;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .layout-alterar-senha .btns-cadastro{
        flex-direction: column;
        align-items: center;
    }
    .layout-alterar-senha .login-enter.cancelar-cadastro{
        margin-left: 0;
        margin-top: 30px;
    }
    .layout-alterar-senha .recuperar .esquerda{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .layout-alterar-senha .produtor{
        left: 40px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 2;
    }
    .layout-alterar-senha .afiliado{
        width: 30px;
        height: 30px;
        right: 38px;
        top: 40px;
        border-radius: 50%;
        line-height: 2;
    }
}